-# .header
-#   .alert
-#     alert message

.chat-side
  .side__header
    %h3.side__header__box
      = current_user.name
    %ul.side__header__action
      %li.side__header__action__group
        = link_to do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.side__header__action__user
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
       
  .groups
    .groups__group-name
      group name
    .groups__group-message
      group message

.chat-main
  .main__header
    .main__header__leftbox
      .main__header__leftbox__current-group
        current group name
      .main__header__leftbox__member-list
        current menbers name    
    .main__header__rightbox
      %a.edit-btn Edit

  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          taker neme
        .message__upper-info__date
          20xx/xx/xx
      .message__text
        message text
 
  .form
    %form
      %input.form__message
      .form__mask
        %label.form__mask__image
          = fa_icon 'picture-o', class: 'icon'
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}
      